<div class="property-container" *ngIf="address.length">
  <h2>All Properties</h2>
  <mat-accordion>
    <mat-expansion-panel hideToggle *ngFor="let addr of address">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div mat-subheader>
            <mat-icon mat-list-icon>folder</mat-icon>
            <span
              [matBadge]="(addr.properties || []).length"
              matBadgeOverlap="false"
              >{{ addr.address }}</span
            >
          </div>
          <div mat-subheader *ngIf="totalSupportRequests(addr) !== 0">
            <span
              [matBadge]="totalSupportRequests(addr)"
              matBadgeOverlap="false"
              ><mat-icon>support_agent</mat-icon></span
            >
          </div>

          <div mat-subheader (click)="updateVisibility(addr)">
            <mat-icon *ngIf="isAdmin && !!addr.visibility">visibility</mat-icon>
            <mat-icon *ngIf="isAdmin && !addr.visibility"
              >visibility_off</mat-icon
            >
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <span>Properties</span>
      <mat-list>
        <mat-list-item *ngFor="let property of addr.properties; let i = index">
          <div mat-line>Owner: {{ property.owner }}</div>
          <div mat-line>Address: {{ property.address }}</div>
          <div mat-line>City: {{ property.city }}</div>
          <div mat-line>County: {{ property.county }}</div>
          <div mat-line>State: {{ property.state }}</div>
          <div mat-line>Zipcode: {{ property.zip }}</div>
          <div
            mat-line
            class="action-menu"
            style="
              display: flex;
              flex-direction: row;
              justify-content: space-evenly;
            "
          >
            <button
              *ngIf="isAdmin || !!addr.canView"
              mat-icon-button
              class="knox-icon"
              aria-label="share icon"
              (click)="onNavigate('/property', property.id)"
            >
              <!-- <mat-icon>build</mat-icon> -->
              View Property Info
            </button>
            <button
              *ngIf="!isAdmin"
              mat-icon-button
              class="knox-icon"
              aria-label="share icon"
              (click)="onSupport(property, i, addr)"
            >
              <!-- <mat-icon>support_agent</mat-icon> -->
              Contact Support
            </button>
            <button
              *ngIf="isAdmin && !!addr.canView"
              mat-icon-button
              class="knox-icon"
              aria-label="share icon"
              (click)="onCanEdit(addr)"
            >
              <!-- <mat-icon>lock</mat-icon> -->
              Hide Property Info
            </button>
            <button
              *ngIf="isAdmin && !addr.canView"
              mat-icon-button
              class="knox-icon"
              aria-label="share icon"
              (click)="onCanEdit(addr)"
            >
              <!-- <mat-icon>lock_open</mat-icon> -->
              Show Property Info
            </button>
          </div>
          <div mat-line *ngFor="let req of property.support_requests || []">
            Requested support on : {{ req.date | date: "short" }}
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>
