.info-card {
  margin: 10px;
  .info-title {
    font-size: 14px;
    color: darkgray;
  }
  .info-text {
    font-size: 14px;
    color: black;
  }

  .left {
    margin: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100px;
  }

  .property-info {
    display: flex;
    justify-content: space-evenly;
    .details {
      display: flex;
      flex-direction: column;
    }
    .additional-details {
      display: flex;
      flex-direction: column;
    }
  }
}

.graph-cards {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: space-evenly;

  .graph-card {
    margin: 10px;
    flex: 1 0;
  }
}
.amenities {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px;

  .amenity {
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    align-items: center;
    .icon {
      font-size: 60px;
    }
  }
}

.chart-wrapper {
  .info-title {
    font-size: 16px;
    text-transform: capitalize;
    color: purple;
  }
  .info-text {
    font-size: 18px;
    text-transform: capitalize;
    color: purple;
  }
}

.map-view-container {
  width: 300px;
  height: 300px;
}
.map-view {
  width: 300px;
  height: 300px;
}

.property-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 10px;
  padding: 10px;
  border: 1px solid lightgray;

  .info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .image-container {
      display: flex;
      flex: 1 0;

      .image {
        width: 20vw;
      }
    }
    .basic-info {
      display: flex;
      flex-direction: column;
      flex: 1 0;
      justify-content: space-evenly;
      .info-title {
        font-size: 14px;
        color: darkgray;
      }
      .info-text {
        font-size: 14px;
        color: black;
      }
    }
  }

  .compute-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    .input-container {
      display: flex;
      flex-direction: column;
      flex: 1 0;
      margin: 10px;
      justify-content: center;
      align-items: center;

      .info-title {
        font-size: 16px;
        text-transform: capitalize;
        color: purple;
      }
      .info-text {
        font-size: 18px;
        text-transform: capitalize;
        color: purple;
      }

      .rent-input {
        height: 50px;
        border: 1px solid black;
        width: 100%;
        margin: 5px;
        border-radius: 5px;
      }
    }

    .graph-container {
      display: flex;
      flex-direction: column;
      flex: 1 0;
      margin: 10px;
      min-width: 40vw;
    }
  }
}
